[2019-11-13 22:29] simar7 opened #12 "Improve error when build fails"
Currently this happens:

[code]

The error could be improved as it stands, it's not quite clear what's going on.

[2020-01-04 02:17] mozillazg opened #26 "Don't read data from NVD at first when get severity for an vulnerability ID"
Related code:

https://github.com/aquasecurity/trivy-db/blob/d6cabf5bc5d14bd21c184222fb9f3d846bff1689/pkg/vulnsrc/vulnerability/vulnerability.go#L13-L16
https://github.com/aquasecurity/trivy-db/blob/d6cabf5bc5d14bd21c184222fb9f3d846bff1689/pkg/vulnsrc/vulnerability/vulnerability.go#L29-L31

Because the severity value from NVD sometimes is too high to used as severity of vulnerability ID.

For exam

[2020-02-23 13:02] mrueg opened #29 "Support gemnasium-db vuln source"
Gemnasium provides a vuln source, which could be utilized by trivy as well: https://gitlab.com/gitlab-org/security-products/gemnasium-db

[2020-02-24 07:30] knqyf263 commented on #29
Thanks! It looks interesting.

[2020-02-28 11:38] mrueg opened #31 "Push trivy-db container image to a registry"
I'd like to request
* Automated builds of trivy and trivy-light db with Github
* Automated pushes of the db to dockerhub or another registry

This would allow users to start including the container image in trivy.

[2020-03-31 13:04] knqyf263 opened #36 "trivy-db can't be built with Go 1.14"
You will see the following error when you build the database with Go 1.14.

[code]

This is caused by this change.
https://github.com/golang/go/pull/34272

nodejs-security-wg has both float like `5.2` and string like `"4.8 (Medium)"` in the same key. But "4.8 (Medium)" is an invalid number and json.Number no longer accepts it after Go 1.14.

I think we have to implement our original type as sugges

[2020-04-01 00:04] simar7 commented on #36
Currently there are no tests for function https://github.com/aquasecurity/trivy-db/blob/c9031b042c04d039492896a9b8d0bca7a97e5d30/pkg/vulnsrc/node/node.go#L82

 Could you point me to the right place where I can find such advisories for node, in order to be able to write a unit test?

[2020-04-01 07:34] knqyf263 commented on #36
I'm sorry, but I don't get your point. Do you want to know the repository which includes security advisories for node.js? Here it is.
https://github.com/aquasecurity/vuln-list

[2020-04-08 20:05] simar7 commented on #36
This is fixed now with this https://github.com/aquasecurity/trivy-db/pull/38

[2020-04-08 20:05] #36 closed

[2020-04-14 08:31] knqyf263 commented on #31
@mrueg Do you have any idea about how to extract the db file from the iamge?

Do we need to create an image once?
[code]

[2020-04-14 20:57] mrueg commented on #31
A few options:

1. I think the easiest way for users would be to re-use the logic that gets applied to scan a container image and extract the tarball from the trivydb image.
something along the lines of:
``` trivy --db-image trivy-db:latest alpine:3.9```

trivy then would
* fetch trivy-db:latest from a registry
* open the container image
* extract the db from there

2. If you run trivy inside a do

[2020-04-20 10:38] knqyf263 commented on #31
Thanks! As for the first option, it requires some implementation in trivy. It seems difficult to do it shortly. The second and third options look great. It might not work at the moment due to this [commit](https://github.com/aquasecurity/trivy/pull/464). I'll check it.

[2020-04-23 21:45] mattlorimor commented on #26
I touched on something similar to this here: https://github.com/aquasecurity/trivy/issues/92#issuecomment-618185839.

Ultimately, what people want to see is going to clash. If somebody wants to treat the vendor-supplied rating for a particular CVE as their starting point, that's fine and completely understandable. Others want to (or have to) go by what he NVD CVSSv3 rating is as a starting point f

[2020-05-10 15:54] knqyf263 opened #44 "Split CVE-IDs in safety-db"
safety-db sometimes has multiple CVE-IDs.
https://github.com/pyupio/safety-db/blob/9cb84541a691044512dab8422dc2a36383e0fff3/data/insecure_full.json#L14132

![image](https://user-images.githubusercontent.com/2253692/81504008-a4ec2580-92ef-11ea-91af-42b192b1ee43.png)

They should be stored separately.

[2020-05-10 15:57] knqyf263 opened #45 "Invalid CVE-ID: CVE-2019-19451.patch"
![image](https://user-images.githubusercontent.com/2253692/81504086-0f04ca80-92f0-11ea-84d4-ae2a93750992.png)

[2020-07-08 13:27] larssb opened #51 "starboard find vulns deployment/some_deployment throws `certificate signed by unknown authority`"
__ISSUE__

[code]

__TECHNICAL DETAILS__

- K8S version: 1.14.6
- starboard version: 0.2.5
- K8S runs on a VMWare platform on-prem
  - Behind a corporate FW and proxy.
- kubectl version: 1.17.3

__EXPECTATIONS__

To be able to execute `starboard find vulns deployment/some_deployment` without this issue

__DEBUGGING - TRIED__

* Tried using: `--insecure-skip-tls-verify` the issue remained
* Tried r

[2020-07-09 06:05] knqyf263 commented on #51
Does it still reproduce? If so, could you open the issue in Starboard? `trivy-db` itself works properly in my environment.

[2020-07-09 06:54] larssb commented on #51
Hi @knqyf263,

Yes it does reproduce. With exactly the same error. Had anything changed since you ask if it still reproduces? I'll happily create this issue in the `starboard` repo.

[2020-07-09 08:13] knqyf263 commented on #51
A network problem sometimes displays certification error.

[2020-07-09 09:07] larssb commented on #51
Ah okay. I’ll wait and see what the response to the issue is in the “starboard” repo.

--
Mvh. / Kind regards
Lars Bengtsson

- Health is wealth, movement is medicine -

[2020-07-15 05:50] knqyf263 opened #53 "Skip rejected vulnerabilities"
Red Hat and Debian have rejected vulnerabilities.
https://github.com/aquasecurity/vuln-list/blob/87adb4be299639a338664e235ee975f978f8471d/redhat/2013/CVE-2013-0341.json#L47
https://github.com/aquasecurity/vuln-list/blob/844881957e39b6f8a3d8fbbe61d5f7bf298184df/ubuntu/2013/CVE-2013-5575.json#L11

We should not store these vulnerabilities in trivy-db as it introduces false positives.

[2020-07-15 05:55] knqyf263 commented on #53
Hi @rahul2393, could you work on it? You have to fix the functions below.
https://github.com/aquasecurity/trivy-db/blob/8ce80f2b059a6fe163d7c88278f275cf31d95ca5/pkg/vulnsrc/redhat/redhat.go#L116
https://github.com/aquasecurity/trivy-db/blob/8ce80f2b059a6fe163d7c88278f275cf31d95ca5/pkg/vulnsrc/ubuntu/ubuntu.go#L95

[2020-07-15 08:14] larssb commented on #51
It's not an issue with *trivy* ... Therefore closing this 1. For those interested. Please follow the issue in the *starboard* repo.

[2020-07-15 08:14] #51 closed

[2020-07-16 03:53] rahul2393 commented on #53
ok

[2020-07-19 15:12] #53 closed

[2020-07-19 15:14] knqyf263 commented on #44
Hi @rahul2393, could you fix it?

[2020-07-19 15:16] rahul2393 commented on #44
Sure!!

[2020-07-20 05:55] rahul2393 commented on #44
So for every such case where CVE is like this
[code]

We need to update is like this?
[code]

[2020-07-20 05:58] knqyf263 commented on #44
Exactly

[2020-07-22 05:40] knqyf263 opened #60 "Skip rejected vulnerabilities even when Red Hat doesn't say so"
In the case of CVE-2018-10754, Red Hat doesn't say it is rejected.
https://access.redhat.com/security/cve/CVE-2018-10754

But NVD describes it is rejected.
https://nvd.nist.gov/vuln/detail/CVE-2018-10754

In this case, we have to skip this vulnerability even if Red Hat doesn't say so.

[2020-07-22 05:51] knqyf263 commented on #60
@rahul2393 Could you look into it?

This PR just skips inserting a vulnerability from NVD, but Red Hat still inserts the vulnerability.
https://github.com/aquasecurity/trivy-db/pull/57

Here are the steps in trivy-db:
- Insert vulnerabilities of NVD into trivy-db
  - https://github.com/aquasecurity/trivy-db/tree/master/pkg/vulnsrc/nvd
- Insert vulnerabilities of Red Hat into trivy-db
  - https://g

[2020-07-24 05:47] rahul2393 commented on #60
Sure.

[2020-07-24 06:25] rahul2393 commented on #60
@knqyf263 I agree with you, I think instead of rejecting vulnerability at the source level (which we are doing currently), at optimizer level we need to mark a vulnerability rejected.

[2020-08-23 06:35] knqyf263 opened #66 "Support v2 format in cargo"
RustSec/advisory-db has changed their format and it is failing to parse TOML.
https://github.com/RustSec/advisory-db/commit/64c17acfe3c7e4c57973d54c69d879abf1763154

Note that they have `unaffected` now.
https://github.com/RustSec/advisory-db/blob/64c17acfe3c7e4c57973d54c69d879abf1763154/crates/arrayfire/RUSTSEC-2018-0011.toml#L24

[2020-10-03 19:48] avats-dev commented on #45
@knqyf263 can you help me out in resolving this? I want to contribute. Thanks

[2020-10-04 04:30] mozillazg opened #73 "make db-build is broken"
[code]

https://github.com/aquasecurity/trivy-db/actions/runs/287205703

The root case is:

* https://github.com/pyupio/safety-db/commit/b412631d3d1b8fc873804d78f75c3f187a745989 changed the format of `insecure_full.json` .
* https://github.com/RustSec/advisory-db/issues/414 changed the format of advisory-db.

[2020-10-05 21:13] neha-viswanathan opened #76 "Help command or flags?"
Currently, we have both flags and command for help.

[code]

We may want to have one, not both.

[2020-10-06 09:17] knqyf263 commented on #76
The same as https://github.com/aquasecurity/trivy/issues/670#issuecomment-704141523

[2020-10-06 10:54] shreegowtham27 commented on #76
Please assign this task :)

[2020-10-06 13:43] knqyf263 commented on #76
@shreegowtham27 Thanks for your offer, but we don't have a plan to drop the command for help at the moment. Let me know if there is any reason to drop one of them.

[2020-10-06 14:03] shreegowtham27 commented on #76
@knqyf263  To my understanding I think that let's go with a flag version of help or command version of help. Please correct me if I misunderstood the context.

[2020-10-06 22:31] #76 closed

[2020-10-07 00:10] neha-viswanathan commented on #31
Hello @knqyf263 @mrueg any updates on this?

[2020-10-07 03:49] mozillazg commented on #73
Fixed via #74 and #75

[2020-10-07 03:49] #73 closed

[2020-10-13 08:35] #66 closed

[2020-10-14 06:17] neha-viswanathan opened #79 "Binary committed to the repo?"
Hi @simar7 any reason why the trivy-db binary is part of the repo - https://github.com/aquasecurity/trivy-db/blob/master/cmd/trivy-db/trivy-db? I have a PR to remove it, please feel free to close it, if it's irrelevant. Thanks!

[2020-10-14 09:06] knqyf263 commented on #31
DockerHub added late limits, but do you still want to put trivy-db to DockerHub?
https://www.docker.com/blog/scaling-docker-to-serve-millions-more-developers-network-egress/

[2020-10-14 14:32] sudiptog81 opened #81 "Use golangci GitHub Action"
We can replace [this step](https://github.com/aquasecurity/trivy-db/blob/086d97d517369361ca78e5f063f51854b0cb2b58/.github/workflows/go.yml#L18) with the [`golangci-lint-action`](https://github.com/golangci/golangci-lint-action).

I shall submit a PR if this a valid issue.

[2020-10-14 15:51] #79 closed

[2020-10-14 15:51] simar7 commented on #79
thanks for the PR! - good catch.

[2020-10-21 07:34] #81 closed

[2020-12-17 14:24] iamdanfox opened #87 "Automated vuln-db publishing has broken"
I got an alert that our trivy vulndb wasn't fresh anymore. Seems like the last release was three days ago, when they'd normally be every 12 hours.

![image](https://user-images.githubusercontent.com/3473798/102499495-2882a780-4073-11eb-9134-04345cde245e.png)

Looking at the github actions history, it looks like they've just [started failing](https://github.com/aquasecurity/trivy-db/runs/1554027650

[2020-12-17 17:09] #87 closed

[2021-01-05 13:20] #31 closed

[2021-01-22 12:25] johnhowlett opened #103 "DB / DB-ligth inconsistent with CVE-2021-3177"
The CVE-2021-3177 is listed as Critical in the DB and in the scan with DB-ligth as UNKNOWN.

`
| libpython3.7-stdlib         | CVE-2021-3177       | CRITICAL |
`

scan with --ligth
`
| libpython3.7-stdlib          | CVE-2021-3177       | UNKNOWN  |
`

[2021-01-29 14:24] beltran-rubo opened #104 "DB for Ubuntu does not include CVE-2021-3156"
Hi, I tested trivy with several distros and checking Ubuntu 18.04 that 'sudo' vulnerability is not detected. Checking the Trivy DB it appears the Debian package that fixes it but not the Ubuntu one yet (https://ubuntu.com/security/CVE-2021-3156). I cleaned the cache to make sure I have the DB up-to-date. Would be possible that the Ubuntu feed is not updated in the Trivy DB?

[2021-02-01 05:40] knqyf263 commented on #104
Ubuntu data source is recently unstable. Trivy DB has been failing to fetch the latest vulnerabilities. It should be included now.
https://github.com/aquasecurity/vuln-list/blob/795dfe56996d80578b941be80a33ec6aa2e22ebe/ubuntu/2021/CVE-2021-3156.json

Thanks.

[2021-02-01 05:40] #104 closed

[2021-03-05 06:23] logerror opened #107 "the maven vulns source is use snyk/vulnerabilitydb ?"
the maven vulns source is use snyk/vulnerabilitydb ?

[2021-03-06 12:51] mozillazg opened #109 "The DB assets missing metadata.json"
The DB assets should include `metadata.json` file after merged https://github.com/aquasecurity/trivy-db/pull/47

[2021-03-06 12:58] #109 closed

[2021-03-07 06:44] knqyf263 commented on #107
You can find data sources here.
https://github.com/aquasecurity/trivy#data-sources

[2021-03-09 18:34] CRogers opened #110 "CVE-2021-24031/2 are not reflected as having a fix version"
Hi, we use trivy extensively for docker image scanning. Our base ubuntu docker images were found to have these CVEs:

https://ubuntu.com/security/CVE-2021-24031
https://ubuntu.com/security/CVE-2021-24032
https://ubuntu.com/security/notices/USN-4760-1

However, after upgrading to version listed as fixed for ubuntu 20.04 (`1.4.4+dfsg-3ubuntu0.1`) trivy still reports zstd as vulnerable. Can be tested

[2021-03-10 04:48] #107 closed

[2021-03-10 05:11] knqyf263 commented on #110
We are fetching security advisories from Ubuntu CVE Tracker, but it is recently unstable. The Ubuntu server returns 503.
https://github.com/aquasecurity/vuln-list-update/runs/2061460471?check_suite_focus=true

The fixed versions are added 34 hours ago.
https://git.launchpad.net/ubuntu-cve-tracker/commit/active/CVE-2021-24031?id=8d625a39eb49e8bf8676da349d52d0760cd426d1

We haven't been able to get

[2021-03-11 05:05] knqyf263 commented on #110
The issue was addressed in my environment. Let me know if you're still facing the same issue.

[2021-03-11 05:05] #110 closed

[2021-03-29 05:32] yehching0109 opened #112 "How to check the database info with trivy.db and trivy-light.db?"
Hi all,

As the mention above, how should i open the two files downloaded from the site?
I want to see the difference between them.
Any suggestions?
The main reason is that when i use trivy scan the same image, but with --light will not encountered vulnerability report and without --light will.
But the "--light" was only different from not showing the description and the CVE reference ?

Thanks,

[2021-03-29 06:48] knqyf263 commented on #112
I'm using https://github.com/br0xen/boltbrowser

[2021-03-29 08:15] yehching0109 commented on #112
Hi @knqyf263 ,
Thanks for the reply, but i couldn't use the boltbrowser.
I had already go get install the boltbrowser, but when im using "boltbrowser myfile", command not found happened.

[2021-03-29 08:57] knqyf263 commented on #112
You need to add `$GOPATH` to `$PATH` like `export PATH=$PATH:$GOPATH/bin`.

[2021-03-29 10:00] yehching0109 commented on #112
Thanks for the reply.
I used hxd to watch the databse instead.
Problem solved.

[2021-03-29 10:00] #112 closed

[2021-04-21 06:33] knqyf263 opened #113 "feat: add CPE"
Add CPE information to the `vulnerability` bucket.
https://github.com/aquasecurity/vuln-list/blob/main/nvd/2021/CVE-2021-0109.json#L6-L24

[2021-04-29 20:57] froh opened #117 "SUSE support: file SUSE Vulnerability data under `"CVE-yyyy-id"` vs `"SUSE-SU-yyyy:id-v"`"
In the trivi.db "vulnerabity" bucket, the `CVE-yyyy-id` is collecting "VendorSeverity", vendor specific "CVSS" scores and url "References" data from redhat, oracle, ubuntu, ... but not from SUSE.

For SUSE, this data is instead stored only into a specific `SUSE-SU-...` or òpenSUSE-SU-...` entry.

The corresponding fields are available in the testing data [pkg/vulnsrc/suse-cvrf/testdata](https://gi

[2021-04-29 22:11] froh commented on #117
I guess I'd have to move the [VulnerabilityDetail construction](https://github.com/aquasecurity/trivy-db/blob/ae22941a55d0375d9aa889c105f32d85d6ee9585/pkg/vulnsrc/suse-cvrf/suse-cvrf.go#L125) all the way to  [storing of the severity](https://github.com/aquasecurity/trivy-db/blob/ae22941a55d0375d9aa889c105f32d85d6ee9585/pkg/vulnsrc/suse-cvrf/suse-cvrf.go#L137) into the [severity scan loop](https://

[2021-05-28 04:19] knqyf263 opened #120 "fix(nodejs): move master to main"
Looks like they nodejs/security-wg migrated master to main
https://github.com/nodejs/security-wg/commits/main

[2021-05-30 06:57] #120 closed

[2021-06-30 07:49] dmivankov opened #130 "trivy-db releases aren't persisted"
Being able to consistently (&air-gapped) check against same db can be quite useful. With a separate process to update the db of course.
Current setup rotates old trivy-db releases on github very fast, which could be mitigated by having some other persistence layer for trivy-db than github releases, but would be nice if github releases were kept forever.

[2021-08-15 00:12] ziozzang opened #138 "Debian 11 Support needed."
Debian 11 was just released. :)

Need update vulsrc with mapping code.

[2021-08-15 06:53] knqyf263 commented on #138
Thanks. We have to update this mapping.
https://github.com/aquasecurity/trivy-db/blob/da8e09204404011a63e5eef8700b5ec3138484fa/pkg/vulnsrc/debian/debian.go#L27-L36

[2021-08-19 20:11] thepwagner commented on #138
I've done this in https://github.com/aquasecurity/trivy-db/pull/136 , just needs review 🚀

[2021-08-25 06:59] wuqrmm opened #142 "how use on harbor"
this db put on harbor which docment,thank you

[2021-09-01 08:34] #138 closed

[2021-09-12 22:06] smijolovic opened #151 "offline database docs stopped working"
Issues downloading offilne db...

$ wget https://github.com/aquasecurity/trivy-db/releases/latest/download/trivy-offline.db.tgz

--2021-09-12 21:57:24--  https://github.com/aquasecurity/trivy-db/releases/latest/download/trivy-offline.db.tgz
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response...

[2021-09-13 02:37] smijolovic commented on #151
Looks like there are wget IPv6 DNS queries on one of my systems. Strange - but I'll close as it works when I set to IPv4.

[2021-09-13 02:37] #151 closed

[2021-09-16 03:30] dan-neumegen-xero opened #152 "Trivy scan reporting old fixed issues as current vuln"
Trivy (the docker container) appears to be incorrectly reporting issues in almost everything it's scanning on debian. A scan yesterday reported no issues, today it shows 132 High and 22 Critical.

Looking at just one part for example, curl. Trivy reports this:

[code]

Checking all of these CVE's on security-tracker.debian.org show that they are all fixed in the specified version `7.64.0-4+deb10u2

[2021-09-16 03:53] dan-neumegen-xero commented on #152
You can use a simple docker file like below to test this

[code]

[2021-09-16 04:21] knqyf263 commented on #152
Thanks for the report. It is obviously a bug. I'll fix soon.

[2021-09-16 04:33] #152 closed

[2021-09-16 04:33] knqyf263 commented on #152
Hi @dan-neumegen-xero, we fixed it and released a new database. Hopefully, this problem was addressed.

[2021-09-16 07:54] dan-neumegen-xero commented on #152
Looks like we have quite a few new ones, but all valid. Thanks for the quick turnaround!

[2021-09-16 08:56] knqyf263 commented on #152
Thanks for confirming!

[2021-10-04 18:10] Gituser143 commented on #12
Hi! I'd like to work on this for hacktoberfest. Could anyone tell me what the error should ideally convey?

[2021-11-11 15:41] knqyf263 commented on #29
Done

[2021-11-11 15:41] #29 closed

[2021-12-17 16:08] ab-smith opened #162 "log4j suggesting 2.15 instead of 2.16"
CVE-2021-44228 (log4shell) suggesting 2.15 instead of 2.16, it's preferable

[2021-12-19 08:36] knqyf263 commented on #162
`2.15` is shown now, no?

[2021-12-19 08:38] ab-smith commented on #162
I meant it should suggest upgrading to a newer version (2.17 as of now)

[2021-12-19 08:40] knqyf263 commented on #162
OK. Please ask GitHub to fix their advisory. Trivy depends on it.

[2021-12-19 08:40] #162 closed

[2021-12-19 08:41] ab-smith commented on #162
![image](https://user-images.githubusercontent.com/11318384/146668814-ea4394ef-e2e3-40f2-be59-d192b8c095b5.png)
or indicates that the CVE is related to the others

[2021-12-29 06:33] thangamani-arun commented on #142
The question here is, is there any document which explains how to import trivy-db into harbor ?

[2022-01-11 11:57] knqyf263 commented on #103
I'm sorry for the late reply. This was a bug in Trivy and fixed in [this PR](https://github.com/aquasecurity/trivy/pull/1458). Thanks.

[2022-01-11 11:57] #103 closed

[2022-01-11 11:58] knqyf263 commented on #26
Now, Trivy prefers severity from vendors.

[2022-01-11 11:58] #26 closed

[2022-01-11 12:02] knqyf263 opened #173 "Remove Python Safety DB"
## Description
Trivy DB has Python security advisories from [GHSA](https://github.com/advisories?query=type%3Areviewed+ecosystem%3Apip) and [OSV](https://github.com/pypa/advisory-db). Safety DB is no longer needed.

[2022-01-11 16:00] knqyf263 opened #174 "feat(ghsa): store CVSS score/vector"
## Description
GitHub may have a different CVSS score from NVD. Trivy DB should store it.
https://nvd.nist.gov/vuln/detail/CVE-2022-21667

[2022-01-12 13:29] #173 closed

[2022-01-13 07:31] knqyf263 opened #176 "Remove rust-advisory-db"
## Description
[This package](https://github.com/aquasecurity/trivy-db/tree/c3c94c5fdc85a76c7f7c91d855281c5c0e4d7dec/pkg/vulnsrc/cargo) takes advisories from [Rustsec/advisory-db](https://github.com/RustSec/advisory-db.git). Trivy DB currently supports [OSV](https://github.com/aquasecurity/trivy-db/pull/161). As far as I understand, they should be the same and duplicated now. We no longer need rus

[2022-01-16 18:28] #176 closed

[2022-01-17 13:29] knqyf263 opened #179 "fix(osv/python): skip GHSA-ID"
## Description
OSV also has [GHSA-IDs](https://osv.dev/vulnerability/GHSA-wqgp-vphw-hphf). But Trivy DB already stores them via [GHSA](https://github.com/aquasecurity/trivy-db/tree/main/pkg/vulnsrc/ghsa). We should skip them to avoid duplication.

## PRs
- https://github.com/aquasecurity/trivy-db/pull/161

[2022-01-27 14:25] #179 closed

[2022-02-01 11:19] jaskaransarkaria opened #186 "trivy-db latest Version has an old schema"
Currently downloading the latest trivy-offline-db and using these assets in an air gapped environment raises the following error:

[code]

Replicate with these cmds:

[code]
As a dirty hack you can supress the error with:

`sed -i 's/\"Version\"\:1/"Version":2/g' db/metadata.json`

and then rerun the above trivy command.

Although this obviously isn't ideal.

Can we get a fix for this ASAP as remo

[2022-02-01 11:45] knqyf263 commented on #186
See here
https://aquasecurity.github.io/trivy/v0.23.0/advanced/air-gap/

[2022-02-01 14:51] aasyria commented on #186
same Error here, i tried also some old version of the DB and did not work. I think it is trivy Problem and not trivy DB, what do you think ?

[2022-02-01 15:08] afdesk commented on #186
@aasyria I could download `trivy.db` version 2.
but I used `oras` for it:
[code]

[2022-02-01 15:40] afdesk commented on #186
also you can download the new db to cache via `trivy` option:
[code]

[2022-02-01 17:18] aasyria commented on #186
this but not an air gapped environment

[2022-02-01 17:23] jaskaransarkaria commented on #186
Thanks for the quick reply, I haven't tried the oras solution yet. I will get back to you, I will attempt it tomorrow morning (uk time) and post back with my findings

[2022-02-02 09:44] aasyria commented on #186
sed -i 's/\"Version\"\:1/"Version":2/g' db/metadata.json

it tried to change the Version and it worked but the trivy does not scan anything

[2022-02-02 10:11] aasyria commented on #186
https://github.com/aquasecurity/trivy/issues/1623

this solved the problem
I just reused older version of Trivy until solving the Problem
what I think the problem is that the CLI tool does not read the new schema correctly and that is why I did not find any new vulnerability when you scan
I suggest adding a new flag to chose which schema you want to use.
When you download the DB from the Releases

[2022-02-02 11:22] afdesk commented on #186
such change won't work correctly, because the db struct was changed.

[2022-02-02 11:24] afdesk commented on #186
@aasyria where are you getting the database from?

[2022-02-03 03:43] kotaner commented on #186
Same here, we upgraded cli to latest and started having this issue.
trivy-offline.db.tgz has this inside metadata.json :
{"Version":1,"Type":1,"NextUpdate":"2022-02-03T06:49:29.03387375Z","UpdatedAt":"2022-02-03T00:49:29.03387415Z","DownloadedAt":"0001-01-01T00:00:00Z"}

db downloaded with trivy image --download-db-only has this :
{"Version":2,"NextUpdate":"2022-02-03T06:11:32.374652962Z","Updated

[2022-02-03 07:15] afdesk commented on #186
@kotaner thanks for your interest in `trivy`!
could you tell me where and how you get `trivy-offline.db.tgz`?
do you use `oras`?
thanks

[2022-02-03 12:34] aasyria commented on #186
I got it from the Releases

[2022-02-03 12:49] aasyria commented on #186
[#1667](https://github.com/aquasecurity/trivy/issues/1667)
after reading the release of the new version [0.23.0](https://github.com/aquasecurity/trivy/discussions/1652) of trivy i think  there is no issue .
the [documentation](https://github.com/aquasecurity/trivy/blob/main/docs/advanced/air-gap.md) is now updated and you need to download the database using [oras](https://oras.land/cli/)

[2022-02-03 13:22] 06kellyjac commented on #186
for those of you that use crane from go-containerregistry (also needs jq)

[code]

manual steps without jq would be:
* `crane pull ghcr.io/aquasecurity/trivy-db:2 file.tar.gz`
* `tar xvf file.tar.gz`
* rename the only `xyz.tar.gz` file that comes out to `db.tar.gz`
  * (will be `ea16e13078e8e8186d949ab68eec78ee67fbfd537ce61725e55bf66589a7da18.tar.gz` or similar)

[2022-02-03 17:00] tatulea opened #188 "audit-libs wrong detection"
Hi,

I am using `docker.elastic.co/elasticsearch/elasticsearch:7.9.2` as an image and when I run `trivy image` on it the first returned row is this:
![image](https://user-images.githubusercontent.com/11436915/152390839-eee552b8-0f39-43c5-99be-5ccb5b635faf.png)

CVE-2015-5186 says "Audit before 2.4.4 in Linux", but the installed version is 2.8.5-4.el7, which is newer than 2.4.4. Is there a wrong de

[2022-02-03 20:46] kotaner commented on #186
I got it from github releases, now seeing you guys have updated documentation. it is confusing to switch to new db format and keep releases with older version of db still laying around. All good now.

[2022-02-06 19:27] anshubansal2000 opened #189 "Vulnerability Related Questions on new update"
Hi Team,

I have 2 question on the latest trivyDB update.

1) Where does Trivy DB download the database in latest release. Is that /root/.cache/trivy?
2) If we want to override the DB location what are the options available in latest release?

Thanks for help. Appreciate it.

[2022-02-07 09:38] jaskaransarkaria commented on #186
This solution worked for us, I will close the issue. It looks as though some of the comments still are having problems implementing a solution for their particular setup, I suggest you open a different issue with you're particular scenarios.

Thanks.

[2022-02-07 09:38] #186 closed

[2022-02-23 13:59] WX-T opened #191 "Why the generated trivy.db file is 1.2G and the official one is only <30M"
Why the generated trivy.db file is 1.2G and the official one is only <30M

[2022-02-23 16:23] afdesk commented on #191
maybe `trivy` downloads an archive, right?

[2022-02-24 03:47] WX-T commented on #191
Thinks，Compressed after running  bbolt compact -o ./assets/trivy.db cache/db/trivy.db

[2022-02-24 03:48] WX-T opened #192 "What is the purpose of the update interval? I don't really understand"
What is the purpose of the update interval? I don't really understand

[2022-02-24 13:06] afdesk commented on #192
the period after which it's necessary to update the database.

[2022-02-24 13:09] afdesk commented on #191
if you download an archive of `trivy.db` (`db.tar.gz`), you'll receive a small file about 22 Mb.

You can take a look at Air-Gapped Environment here https://aquasecurity.github.io/trivy/v0.24.0/advanced/air-gap/

[2022-02-24 22:11] zhangyifei opened #193 "Trivy DB issue for SUSE Enterprise Server"
Hi Team,

I found one issue on the generating Trivy DB for SUSE Enterprise Server by using the latest code.

I used the latest code to generate an offline DB and use it to scan a SUSE Enterprise image  **registry.suse.com/suse/sles12sp3:24.324**.

`trivy --cache-dir cache image --skip-db-update registry.suse.com/suse/sles12sp3:24.324
`

There is no vulnerability found from the scanning result. But

[2022-02-25 10:33] P1ng-W1n commented on #193
Something definitely happened.. Comparing the current state of v1 and v2 databases you can see that v2 does contain way less vulnerabilities when it comes to SLES:

Preparation:
[code]

Check:
[code]

Although v2 doesn't contain any vulnerabilities for SLES11, The numbers are very much visible on other levels too:
[code]

OpenSUSE DB doesn't seem to be affected

[2022-02-25 22:11] zhangyifei commented on #193
Hi @P1ng-W1n,

Thanks for the analysis.

After comparing the code between the commit a5adda5 and the latest version (commit df65ebd) on suse part, I found the one change in the method **Name()** under pkg/vulnsrc/suse-cvrf/suse-cvrf.go.

![image](https://user-images.githubusercontent.com/6363982/155809726-0a2a3971-0268-4a69-8b93-25352fb3eca5.png)

On the latest version , the Name method will retur

[2022-02-27 10:48] knqyf263 commented on #193
@zhangyifei Thanks for investigating it. Looks like it is a bug...
@afdesk Can you look into it?

[2022-02-27 16:32] afdesk commented on #193
@zhangyifei thanks for your report!
I'll try to clarify this issue.

[2022-02-27 19:14] #193 closed

[2022-02-27 20:10] afdesk commented on #193
@zhangyifei @P1ng-W1n thanks a lot!
fixed. the database will update soon!

[2022-02-28 10:56] P1ng-W1n commented on #193
Confirm that it looks better with today's database:

[code]

[2022-03-10 05:57] shimish2 opened #197 "create trivy db at top level instead of subdirectory "db""
Currently trivy db being generated inside "db" directory.

[code]

Can we create a db at cacheDir level instead of "db"

[2022-03-10 12:15] afdesk commented on #197
@shimish2 thanks for your interest in `trivy`!
I think that no. what is your use case? why is it needed?

[2022-03-10 19:13] shimish2 commented on #197
I am trying to integrate trivy for my oci repository server and in our oci repository storage every directory is oci layout, so when I try to integrate trivy, fanal cache is created under db directory which is not an oci layout. That's why I was looking for option if we can create db at top level.

[2022-03-10 21:29] rchincha commented on #197
Just to be clear, the ask is whether the location of the db is configurable?
For our application, the db path and name collides with other artifacts.
Happy to post a PR if this is reasonable.

Also related to: https://github.com/aquasecurity/fanal/issues/422

[2022-03-22 08:32] abelsromero opened #199 "Invalid version metadata for latest trivy cli v.24.4"
trivy-offline.db.tgz `metadata.json` contains Version=1, but that causes the CLI to fail with following error.

[code]

Changing the value fixes the issue.

PS: A collegue reported other schema errors with v0.23.x and above but I don't have the exact details, could be the same thing.

[2022-03-22 09:05] abelsromero commented on #199
Update: it does not solve the issue but the docker image `ghcr.io/aquasecurity/trivy-db:2` also does contain Version=2.

[2022-03-22 10:01] knqyf263 commented on #199
Please refer to the latest document.
https://aquasecurity.github.io/trivy/v0.24.4/advanced/air-gap/

[2022-03-22 21:03] abelsromero commented on #199
The documentation was reviewed but still the issue remains unless the tar packages are not supported in any way, in which case they should be removed. If that's not the case, I think an alternative should be provided.
It seems to me that the oras approach is the same but with more steps and using a not common approche to distribute files. Air-gaping is done for security reasons and having to intro

[2022-04-05 01:18] adrianbance opened #201 "CVEs not being detected in DB schema 1"
Hi,

At the moment we are running Trivy 0.19.2 in our CI. We are not able to update this version due to how Trivy changes they way it scans yarn.lock files. I noticed that these scans are not find CVE-2022-22965 (https://github.com/advisories/GHSA-36p3-wjmg-h94x).
However, if I scan locally using the latest version of Trivy, it does pick up that CVE.

From digging around I noticed that the trivy-d

[2022-04-07 08:49] pschulten opened #202 "unable to pull image"
tried on different machines
I get
[code]

[2022-04-07 09:11] knqyf263 commented on #202
Try oras, not docker.
https://aquasecurity.github.io/trivy/v0.25.3/docs/advanced/air-gap/

[2022-04-07 09:58] pschulten commented on #202
yes this works. Sorry, didn't re-read the air-gap docs :(
Is it possible to customize the `Install from the command line:` tip at https://github.com/aquasecurity/trivy-db/pkgs/container/trivy-db to reflect that?

[2022-04-07 09:58] #202 closed

[2022-04-07 10:03] knqyf263 commented on #202
It is automatically generated by GitHub. I have no idea how to modify it...

[2022-04-19 09:44] 06kellyjac opened #205 "request: sign db image with cosign"
For highly regulated clients there's an interest in the DB image being signed. This could be done on GHCR with cosign.

[2022-04-27 17:33] logabot opened #207 "How build offline db"
Please, share doc for build offline db.

[2022-04-29 01:38] #189 closed

[2022-05-03 19:33] mayrstefan opened #208 "Image on Docker Hub broken?"
Should  https://hub.docker.com/r/aquasec/trivy-db/ not be the same as https://ghcr.io/aquasecurity/trivy-db? The image on Docker Hub is regularly updated but  seems to be empty (32 Byte). Or is this on purpose?

[2022-05-04 05:12] mayrstefan commented on #208
Same for https://public.ecr.aws/aquasecurity/trivy-db (781Byte)?

[2022-05-11 06:06] AndreyLevchenko commented on #207
Hi @logabot
Database is generated automatically on schedule. You can download fresh db as described here:
https://aquasecurity.github.io/trivy/v0.27.1/docs/advanced/air-gap/

[2022-05-16 06:10] maltewhiite commented on #208
I am getting

[code]

Also it is 0B.

Isn't this image supposed to contain the Vulnerability DB for Trivy?

So you can use this image in an airgapped environment as the DB via the ENV variable `TRIVY_DB_REPOSITORY` in your .gitlab-ci.yml like `TRIVY_DB_REPOSITORY: "${CI_REGISTRY}/aquasec/trivy-db"`

[2022-05-16 10:03] afdesk commented on #208
I'm not sure that it should work.
you can read more about air-gapped mode here: https://aquasecurity.github.io/trivy/latest/docs/advanced/air-gap/

[2022-05-26 08:44] #174 closed

[2022-06-01 09:37] ronaldshaooo opened #218 "The local DB has an old schema version which is not supported by the current version of Trivy CLI. DB needs to be updated."
I'm using harbor v2.5.1 and download latest trivy-db. I have to use offline version both of them and it show me "The local DB has an old schema version which is not supported by the current version of Trivy CLI. DB needs to be updated.", "--skip-update cannot be specified with the old DB schema."

Offline db worked until harbor v2.4.1, any suggestion?

Thanks.

[2022-06-03 11:59] bpfoster opened #220 "DB does not contain all advisories for Oracle Linux"
Oracle sometimes issues multiple ELSAs for a single CVE.  One may be for the "normal flavor", and one for the "FIPS flavor".

See for example [ELSA-2021-4451](https://linux.oracle.com/errata/ELSA-2021-4451.html) and [ELSA-2022-9221](https://linux.oracle.com/errata/ELSA-2022-9221.html)

Both these ELSAs address [CVE-2021-20231](https://linux.oracle.com/cve/CVE-2021-20231.html) for `gnutls`, but not

[2022-06-08 18:46] andrebreves commented on #199
+1 to the issue of introducing an additional binary with internet access in security sensitive context like air-gaping.

Is there an alternative way to download the v2 db?

[2022-06-09 06:44] knqyf263 commented on #199
You can host your OCI registry storing DB and pass the URL via `--db-repository`.

[2022-06-18 19:04] toddysm commented on #208
I am experiencing a similar issue on a Mac (nothing to do with air-gap - fully connected to the Internet). Here the details:

[code]

ghcr.io is accessible via ping:
[code]

Pulling the DB gives the above error:
[code]
Here is Trivy vestion:
[code]

Shouldn't Trivy automatically pull the DB and use it? Why do we need to use ORAS separately to pull the DB?

[2022-06-24 07:49] afdesk commented on #208
@toddysm your issue looks temporary.
could you confirm that it still appears?

also `trivy-db` is an artifact, it's not a docker image.
please use `oras` for downloading:
[code]

[2022-06-24 07:50] afdesk commented on #208
@toddysm  Trivy automatically pulls and updates the DB.

[2022-06-24 09:58] maltewhiite commented on #208
We have updated to 0.29.2 now, so this is no longer a problem for me and my team.

[2022-06-27 02:31] toddysm commented on #208
I upgraded to 0.29.2 but still hitting the error. I have the suspicion that this may be a local issue but seem pretty hard to troubleshoot.

[2022-06-28 23:11] flavienbwk commented on #218
@knqyf263 it doesn't. I've tried downloading the [last offline DB release](https://github.com/aquasecurity/trivy-db/releases/download/v1-2022062818/trivy-offline.db.tgz) from this repo, putting it in `$HOME/.cache/trivy/db` without success.

CLI. DB needs to be updated

Version I use : 0.29.2

Thank you for your help.

[2022-06-29 02:31] knqyf263 commented on #218
Again, please read the doc. The offline database you mentioned is no longer used. You might read the old doc. Please take a read at the latest one.

[2022-06-29 02:31] #218 closed

[2022-06-29 10:36] andreasf commented on #199
@andrebreves this downloads the DB with bash, curl and jq:

[code]

[2022-07-04 07:10] maxkandzia opened #225 "Image does not contain trivy-db"
The layer file is only 1kb in size. This file should contain the trivy DB, right?
The image on Docker Hub is updated regularly, but does not seem to contain a Trivy DB. Is there a bug here or is this intentional?

![Bildschirmfoto 2022-07-04 um 08 57 58](https://user-images.githubusercontent.com/36071667/177098931-12080eb6-3efb-45db-82ae-51c6cc86b27e.png)

[2022-07-04 07:13] afdesk commented on #225
@maxkandzia how did you pull this tar file?

[code]

[2022-07-04 08:10] maxkandzia commented on #225
Hello @afdesk, I did the pull from docker-hub (https://hub.docker.com/r/aquasec/trivy-db)

`docker pull aquasec/trivy-db:v1-2022070400`

is the pull only possible from ghcr.io? On the project we only have access to dockerhub. Therefore I would like to pull from dockerhub.

[2022-07-04 09:34] afdesk commented on #225
Hello @maxkandzia!
no, this database version is deprecated now: https://github.com/aquasecurity/trivy/discussions/1653
you can read more about air-gapped mode here: https://aquasecurity.github.io/trivy/v0.29.2/docs/advanced/air-gap/
also there is a way to download the database via `Trviy` directly:
[code]

[2022-07-18 19:16] knqyf263 commented on #205
Sounds good!

[2022-07-19 03:59] huzai9527 opened #229 "A question about database design"
Hi, I would like to ask a question about database design, why is it stored in the form of key-value pairs? What is the advantage of doing this?

[2022-07-19 18:46] ShubhamPalriwala commented on #205
Hey @knqyf263, so I have worked on something similar at [Kyverno](https://github.com/kyverno/kyverno/) and had a query.

The design system for this we followed there was to push the signature as well as the artifact (in our case, DB) in the same CR. The issue we faced there later was that the metrics(number of downloads for the package) weren't accurate anymore as cosign verifications downloaded t

[2022-07-20 10:48] knqyf263 commented on #205
Nice catch. It makes sense to have another repository for signatures.

[2022-07-22 14:13] chen-keinan opened #231 "Add k8s outdated api data source"
it is require to add k8s [outdated api data](https://github.com/aquasecurity/trivy-db-data/) source to trivy-db for `trivy` and `trivy-operator` to implement k8s outdated api resources view

[2022-07-27 02:34] LubinLew opened #234 "offline db version mismatch"
Offline DB
[code]

Trivy Version
[code]
Error

[code]

[2022-08-17 16:59] Szpark commented on #142
I have the very same question 🙋‍♂️

[2022-08-17 17:43] Szpark commented on #142
I wound a workaround, this can be scripted, automatized
Pull down [oras docker container](https://github.com/oras-project/oras/pkgs/container/oras)) which is required to download trivy db (oras can be obtained from an [rpm too](https://oras.land/cli/) but at the time of this comment I haven't found it in a major CentOS repo or at least a cheksum for it, safer to run it from a container)
[code]
Now

[2022-08-18 11:07] DorHayun opened #239 "Adding All GHSA ECO Systems To Trivy DB"
Hi,
From what I can see here https://github.com/aquasecurity/trivy-db/blob/main/pkg/vulnsrc/ghsa/ghsa.go
you don't have support for Go, Erlang, Rust.
Can you please add these ecosystems in order to get their security data from GHSA?

Thanks

![image](https://user-images.githubusercontent.com/39770712/185380018-825233e6-3894-4a29-bd6c-720dcd6ca6ee.png)

[2022-08-25 06:48] knqyf263 commented on #239
We use [OSV](https://github.com/golang/vulndb/tree/master/data/reports). I guess OSV covers more. Please correct me if I'm wrong.
We're working on Rust now.
https://github.com/aquasecurity/vuln-list-update/pull/174

[2022-08-28 08:08] #231 closed

[2022-08-29 13:56] afdesk opened #245 "replace `utils/strings/InSlice` to `slices.Contains`"
Now we don't need this deprecated function `InSlice`:

https://github.com/aquasecurity/trivy-db/blob/main/pkg/utils/strings/strings.go#L28-L35

[2022-08-30 03:55] lpw685685 opened #246 "Excuse me, can I add the euleros CVE ?"
Excuse me, can I add the euleros CVE ?
https://developer.huaweicloud.com/euleros/cve.html

[2022-08-31 10:33] Yan3y opened #247 "Mac users can not run successfully because of .DS_Store file"
When I try to new and build a vulndb,there are some error like this
[code]
Mac Almost every folder has a .DS_Store，Deleting them one by one is too cumbersome.Do you want to consider dealing with this situation?

[2022-09-01 06:27] Yan3y opened #248 "Missing some package in vuln-list"
When I run trivy-db to operator the vuln-list,There are some errors about bundler,composer and node.
I found that these packages are missing in vuln-list and the files are dir/$budlerDir/$gems,etc.rather than dir/vuln-list/$almaDir
Any suggestion for me?
Thanks!

[2022-09-05 13:04] Riohyc opened #249 "DB archive file download from Github Release not work because version in metadata.json mismatch with version of db"
[code]
### Download latest db from github release and unarchive it to cache dir:
[code]
[code]

Here is metadata.json in db archive file pull from GHCR
[code]
### Try run scan with latest trivy:
[code]

Here is difference between *Github Release* and *Trivy DB* action:

Github Release
https://github.com/aquasecurity/trivy-db/runs/8183176380?check_suite_focus=true#step:9:1
Trivy DB
https://github.c

[2022-09-05 13:15] afdesk commented on #249
@Riohyc no, you download the old database. you need to use `oras` or `trivy` for it.

read more: https://aquasecurity.github.io/trivy/v0.31.3/docs/advanced/air-gap/

[2022-09-05 13:18] Riohyc commented on #249
So, the only way to download correct version of db is pulling from GCHR by `oras` or `trivy`? Even the Github Release is outdated?

[2022-09-05 13:21] afdesk commented on #249
yes,  i think that  the Github Release is for backward compatibility now

[2022-09-05 13:23] #249 closed

[2022-09-06 02:10] guos opened #250 "metadata.json 's Version need update to 2 when use newest trivy"
the offline db 's metadata.json not work when use new trivy like version 0.31.2/3, it will say db version not correct and when change the Version from 1 to 2 works

{"Version":1,"Type":1,"NextUpdate":"2022-09-06T06:52:19.891405769Z","UpdatedAt":"2022-09-06T00:52:19.891406469Z","DownloadedAt":"0001-01-01T00:00:00Z"}

change to follow works

{"Version":**2**,"Type":1,"NextUpdate":"2022-09-06T06:52:1

[2022-09-06 14:03] knqyf263 commented on #250
Duplicated
https://github.com/aquasecurity/trivy-db/issues/249

[2022-09-06 14:03] #250 closed

[2022-09-10 07:51] souravsk commented on #245
@afdesk i just have to delete the inslice function.

[2022-09-12 09:42] afdesk commented on #245
@souravsk it seems Go version should be bumped up 1.18 for using `slices.Contains`. need to test it

[2022-09-12 10:11] souravsk commented on #245
Okay so are you going to update the go version

[2022-09-14 09:19] #234 closed

[2022-09-16 07:21] rrgadeev opened #252 "unexpected end of JSON input"
[code]

tried it from different hosts

[2022-09-16 07:51] rrgadeev commented on #252
https://github.com/aquasecurity/trivy-db/issues/208

[2022-09-16 09:30] afdesk commented on #252
@rrgadeev docker doesn't work for this artifact, you need to use `oras`
[code]

[2022-09-19 08:37] #252 closed

[2022-10-06 15:36] rustiever commented on #245
@afdesk can i take up this ??

[2022-10-11 08:55] DorHayun opened #253 "Missing Distribution Versions in Trivy DB"
Hi team,
It seems like you have added the support for Amazon linux 2022, Oracle linux 9 and the Ubuntu 22.04 but i can't see it in the latest
DB downloaded from the
https://github.com/aquasecurity/trivy-db/releases/latest/download/trivy.db.gz

Where can i get the latest db to download?
thanks

[2022-10-11 17:21] silentpete opened #254 "Update the README.md"
Hello, thank you aquasecurity for making great security products!!

While supporting a developer, we were asked to proxy this artifact.

Because aquasecurity chooses to build this artifact and store it in GitHub Container Registry... and because the community at large may not be fully up to date with the CNCF and OCI initiatives (config.mediaType specifically), the command to interact with this ar

[2022-10-12 18:24] afdesk commented on #253
@DorHayun your link refers to the version 1, now Trivy uses trivy.db version 2.

you can download it via `oras`. Read more here: [Download the vulnerability database](https://aquasecurity.github.io/trivy/v0.32/docs/advanced/air-gap/)

[2022-10-28 07:00] ExitoLab opened #255 "Trivy offline db v2"
We need to be able to download the offline db v2. But currently we only have v1

Pls see links https://github.com/aquasecurity/trivy-db/releases

The current version of trivy v.33.0 is only compatible with v2 offline database.

Pls how do i get v2 offline db for trivy

[2022-10-28 17:44] afdesk commented on #255
you need to use  `oras` for it:
[code]

please, read the documentation: https://aquasecurity.github.io/trivy/v0.32/docs/advanced/air-gap/

[2022-10-28 17:44] #255 closed

[2022-10-31 04:25] #254 closed

[2022-11-02 14:46] afdesk commented on #253
now this information was added to README: [Download the vulnerability database](https://github.com/aquasecurity/trivy-db#download-the-vulnerability-database)

[2022-11-02 14:46] #253 closed

[2022-11-09 21:29] ssajal-wrl opened #259 "add ability to scan Wind River Linux containers"
Add new feature to allow trivy to scan Wind River Linux containers.

[2022-11-09 21:39] shoguevara opened #261 "Locally building attempt with docker build . -t trivy-db results in COPY failed: no source files were specified"
I pretty much guess that I'm doing something wrong, but on attempt to build database locally (in a VM with ubuntu22) using
`build . -t trivy-db `
comman, the rpocess goes through all stages seemingly correctly, but in the very end ends with the message
[code]
Tried to dig around but quickly realized that's it a bit more than I can chew on right now

[2022-11-11 01:24] stickycode opened #262 "Denied when trying to download the db via GHCR"
The container registry is requiring some credentials

¥ docker pull ghcr.io/aquasecurity/trivy-db:2
Error response from daemon: Head "https://ghcr.io/v2/aquasecurity/trivy-db/manifests/2": denied: denied

¥ trivy i alpine
2022-11-11T14:24:27.306+1300    INFO    Need to update DB
2022-11-11T14:24:27.306+1300    INFO    DB Repository: ghcr.io/aquasecurity/trivy-db
2022-11-11T14:24:27.306+1300    INF

[2022-11-11 11:34] afdesk commented on #262
@stickycode
it seems your environment has an expired github token in `GITHUB_TOKEN` variable.
could you check it?

also the trivy vulnerability database is stored as artifact on ghcr. You can't use `docker pull` to download it.
You have to use something like [oras](https://oras.land/cli/):
[code]

read more about [Air-Gapped Environment](https://aquasecurity.github.io/trivy/v0.34/docs/advanced/air

[2022-11-13 08:37] #262 closed